<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155133732505-ggm5v4vnae2ihbndumd4rupd2184qek5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155133732505-ggm5v4vnae2ihbndumd4rupd2184qek5</string>
	<key>API_KEY</key>
	<string>AIzaSyDBxXFdK6LSi3neSSnt191oncTk9Emdx5w</string>
	<key>GCM_SENDER_ID</key>
	<string>155133732505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mutluclkn.G-Navigation</string>
	<key>PROJECT_ID</key>
	<string>g-navigation</string>
	<key>STORAGE_BUCKET</key>
	<string>g-navigation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155133732505:ios:d25b8ef702d756d6357a08</string>
</dict>
</plist>